name: msk_utils
description: Flutter utility package, with utilities for navigation, databases, and extensions for strings, maps, lists and more
version: 2.0.2
repository: https://github.com/ReniDelonzek/msk_utils

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  package_info_plus: ^8.0.2
  select_any:
    git:
      url: https://github.com/aynova-tecnologia/select_any.git
  sprintf: ^7.0.0
  sentry: ^8.9.0
  device_info_plus: ^10.1.2
  path_provider: ^2.0.15
  file_picker_cross:
    git:
      url: https://gitlab.com/FabioZvir/file_picker_cross.git
  hive: ^2.2.3
  dio: ^5.7.0
  intl: ^0.18.1
  flutter_mobx: ^2.0.6+5
  mobx: ^2.2.0
  flutter:
    sdk: flutter

dev_dependencies:
  build_runner: ^2.4.5
  mobx_codegen: ^2.3.0

  flutter_test:
    sdk: flutter

scripts:
  build: flutter pub run build_runner build --delete-conflicting-outputs
  watch: flutter pub run build_runner watch --delete-conflicting-outputs
  clean: flutter pub run build_runner clean
